body {
    background-color: black;
}

header {
    text-align: center;

}

.titulo1 {
    color: yellow;
    text-align: center;
    font-size: 50px;

}

 .imagem2{
    margin: 20px 20px 50px 260px;
}
p{
    font-size: 40px;
    text-align: center;
    color: yellow;
    margin-right: 10%;
    margin-left: 10%;
}

.direitos{
    color: yellow;
    text-align: center;
    font-size: 30px;
}
.abas{
    font-size: 50px;
    cursor: pointer;
    margin: 10px 10px 35px 35px;
    text-align: center;
}