*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

header{
    align-items: center;
    display: flex;
    justify-content: center;
}

main{
    align-items: center;
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin: 30px 60px;

}
main .sinopse{
    color: yellow;
    font-size: 1.5rem;
    margin: 10px 10px 35px 35px;
}
.trailer iframe{
    width: 60%;
    height: 450px;
    border: 3px solid #f00;
    border-radius: 100px;

}
.atores{
    display: flex;
    flex-direction: column;
    margin: 30px 20px 35px 35px;

}
.box{
    display: flex;
}

.atores .box img{
    width: 200px;
    margin: 10px 10px 35px 35px;

}
.semifinal{
    color: yellow;
    font-size: 2.0rem;
    margin: 10px 10px 35px 35px;
}

.direitos{
    color: yellow;
    text-align: center;
    font-size: 30px;
}

.abas{
    font-size: 30px;
    cursor: pointer;
    margin: 10px 10px 35px 35px;
}

    .sobreatores{
        color: yellow;
        font-size: 40px;
    }